<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring</title>
    <meta charset="utf-8" />
</head>

<body>
<div>
    <img src="../../../webapp/images/stsmlogo.png" alt="STSM logo" title="STSM logo"
         th:src="@{/images/stsmlogo.png}"/>
</div>

<form th:method="POST" th:action="@{/person/account}" th:object="${personEmpty}">
    <label for="login">login: </label>
    <input type="text" th:field="*{login}" id="login"/>
        <div style = "color:red" th:if = "${#fields.hasErrors('login')}" th:errors = "*{login}">Name error</div>
    <br/>
    <label for="password">password: </label>
    <input type="text" th:field="*{password}" id="password"/>
        <div style = "color:red" th:if = "${#fields.hasErrors('password')}" th:errors = "*{password}">Name error</div>
    <br/>
    <a  th:href="@{/person/new}">Registration</a>
    <br/>
    <input type="submit" value="account"/>
</form>
    <br/>

<form th:method="GET" th:action="@{/filters/execute}" th:object="${filterEmpty}">
    <input type="text" th:field="*{category}" value="category"/>
    <input type="text" th:field="*{city}" value="city"/>
    <input type="text" th:field="*{context}" value="context"/>
    <button type="submit">Search</button>
</form>
<br/>

<div class="allArticle">
    <table>
        <thead>
        <tr>
            <th th:text="#{th.date}">date</th>
            <th th:text="#{th.category}">category</th>
            <th th:text="#{th.subcategory}">subcategory</th>
            <th th:text="#{th.city}">city</th>
            <th th:text="#{th.name}">name</th>
            <th th:text="#{th.context}">context</th>
            <th th:text="#{th.price}">price</th>
            <th th:text="#{th.currency}">currency</th>
            <th th:text="#{th.telephone}">telephone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el : ${articleAll}">
            <td th:text="${#dates.format(el.dateFrom, 'dd.MM.yyyy')}"> - </td>
            <td th:text="${el.category}"> - </td>
            <td th:text="${el.subcategory}"> - </td>
            <td th:text="${el.city}"> - </td>
            <td th:text="${el.articleName}"> - </td>
            <td th:text="${el.context}"> - </td>
            <td th:text="${el.price}"> - </td>
            <td th:text="${el.currencyPrice}"> - </td>
            <td th:text="${el.telephone}"> - </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>